<mat-card>

  <mat-card-header>

    <div mat-card-avatar class="bg-cover" [style]="{'background-image': 'url(' + user.avatar + ')'}"></div>
    <mat-card-title [innerHTML]="user.first_name + ' ' + user.last_name"></mat-card-title>
    <mat-card-subtitle>ID: {{user.id}}</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content class="card-content">

    Email:  {{user.email}}
    <mat-divider></mat-divider>

  </mat-card-content>

  <div class="details-btn-container flex flex-row justify-end items-center">
    <button mat-flat-button color="primary">Details</button>
  </div>

</mat-card>
