<div class="grid grid-rows-1 sm:grid-cols-2 grid-flow-row gap-6">

  <ng-container *ngFor="let user of users">

    <app-user-card [user]="user"></app-user-card>

  </ng-container>

</div>

<div class="flex flex-row mt-6 justify-between items-center">

  <button color="primary"
          mat-icon-button
          [disabled]="page <= totalPages"
          [class.invisible]="page <= totalPages"
          (click)="pagination.emit('p')">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="page-indicator roboto">
    {{page}} of {{totalPages}}
  </div>

  <button color="primary"
          mat-icon-button
          [disabled]="page >= totalPages"
          [class.invisible]="page >= totalPages"
          (click)="pagination.emit('n')">
    <mat-icon>chevron_right</mat-icon>
  </button>

</div>
