<div class="grid grid-rows-1 sm:grid-cols-2 grid-flow-row gap-6 overflow-x-hidden" [class.slide-in-left]="!pagination" [class.slide-in-right]="pagination">

  <ng-container *ngFor="let user of users">
    <app-user-card [user]="user"></app-user-card>
  </ng-container>

</div>

<div class="flex flex-row mt-6 justify-between items-center relative bottom-2">

  <button color="primary"
          mat-icon-button
          [disabled]=" $any(page$ | async ) < $any(totalPage$ | async)"
          [class.invisible]="$any(page$ | async ) < $any(totalPage$ | async)"
          (click)="paginate(false)">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="page-indicator roboto">
    {{ page$ | async }} of {{totalPage$ | async}}
  </div>

  <button color="primary"
          mat-icon-button
          [disabled]=" $any(page$ | async ) >= $any(totalPage$ | async)"
          [class.invisible]="$any(page$ | async ) >= $any(totalPage$ | async)"
          (click)="paginate(true)">
    <mat-icon>chevron_right</mat-icon>
  </button>

</div>
